body {
    /* background-color: black; */
    margin: 0;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

a:link {
    text-decoration: none
}

.pictureList {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

img {
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

.cameraButton {
    position: -webkit-sticky;
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    margin: 0.2rem;
    background-color: #EEEEEE;
    border-radius: 3rem;
    color: #333333;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: 0.5rem solid #CCCCCC;
}

@media screen and (max-width: 800px) {
    section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .pictureList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}